* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/background.png");
    background-size: cover;
}

#maze {
    height: 500px;
    width: 500px;
    position: relative;
}

#img1 {
    position: absolute;
    height: 70px;
    width: 70px;
}

#leftM {
    height: 500px;
    width: 300px;
    background-color: rgba(0, 255, 255, 0.222);
    position: relative;
}

#naslov {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}